app:
  name: appname
  env: development

spring:
  jackson:
    property-naming-strategy: SNAKE_CASE
  jpa:
    hibernate:
      ddl-auto: create
  datasource:
    url: jdbc:mysql://localhost:3306/dbname?autoReconnect=true&useSSL=false
    username: username
    password: secret